.App {
  text-align: center;
  height: 100vh;
  background: #eee;
}

h1 {
  margin: 0;
  padding: 15px 0 25px;
}

.count {
  padding-bottom: 30px;
}
.pagination {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
.p-list {
  margin: 0;
  padding: 0;
}

.p-list li {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  border-radius: 5px;
}

.pokemon-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.pokemon-items {
  width: 300px;
  height: 23px;
  background: white;
  border: 1px solid #000;
  margin: 0 8px 8px 0;
  border-radius: 5px;
  position: relative;
}
.pokemon-items img {
  max-width: 80%;
}
.list-title {
  text-transform: uppercase;
  font-size: 16px;
}
.pokemon-items a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
}

.stats i {
  font-weight: bold;
  font-style: normal;
}

.wrap {
  width: 800px;
  display: flex;
  background: #fff;
  border: 1px solid #484849;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
}
.description {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
.img-wrap {
  width: 50%;
}
.active {
  background: yellow;
}
.img-wrap img {
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.p-list {
  display: flex;
  list-style: none;

}
.p-list li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid rgb(192, 192, 192);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
